body
{
    margin: 0;
    overflow: auto;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

header
{
    /* Properties */
    position: fixed;
    z-index: 20;

    /* Dimensions */
    width  : 100vw;

    /* Text */
    text-align: center;

    /* colours */
    background-color: #8fb8f5;
    color: black;
}

tableOfContents
{
    /* Properties */
    position: absolute;

    /* Dimensions */
    height : 100%;
    width  : 20%;
    padding: 1vw;
    padding-top: 10vh;

    /* Position */
    left: 0;

    /* colours */
    background-color: #bbbbbb;
    color: black;
}

.toc
{
    display: block;
    font-size: 30px;
}

.tool
{
    /* Properties */
    display: block;

    /* Dimensions */
    margin-top: 5vh;
}

content
{
    /* Properties */
    position: absolute;
    display: inline;
    overflow: hidden;

    /* Shape */
    width : 100%;
    padding-top : 5%;
    padding-bottom: 50px;
    right: 0;

    /* Text */
    text-align: center;
}

section
{
    width: 80%;
    margin: auto;
}

.addNew
{
    /* Properties */
    display: inline-block;
    margin: auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%;

    /* Shape */

    padding: 1%;
    border-radius: 50px;

    /* Colours */
    background-color: #b0caf0;
    color: #ffffff;

    /* Font */
    font-size: 20px;
    height: 100%:
}

.addNew:hover
{
    cursor: pointer;
}

.editChapter
{
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.editText
{
    width: 100%;
    font-size: 20px;
    text-align: left;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.Text
{
    font-size: 20px;
    text-align: left;
    margin: auto;
    margin-bottom: 2%;
}

.editDef
{
    float:left;
    font-size: 25px;
    font-weight: bold;
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.def
{
    font-size: 25px;
    font-weight: bold;
    width: auto;
}

#update
{
    padding: 1%;
    border-radius: 50px;
    background-color: #cfcfcf;
    color: #ffffff;
    width: 10%;
    margin: auto;
}

#update:hover
{
    cursor: pointer;
}
