{% extends "editLayout.html" %}

{% block content%}
<form id="info" method="post">
    <input type="hidden" id="chapters" name="chapters" value="">
    <input type="hidden" id="contents" name="contents" value="">
</form>

<a href="/create" class="addNew">
    back
</a>

<div class="addNew" onclick="update()">
    Update
</div>

<a href="/view/{{id}}" class="addNew" onclick="update()">
    View
</a>

<div id="content">
    <h1>{{name}}</h1>
    
    {% for section in content %}
        <div id="S{{loop.index0}}" class="{{section[0]}}">
            {% if section[0] == "CH" %}
                <input id="0V{{loop.index0}}" type="text" value="{{section[1]}}" class="editChapter">
            {% elif section[0] == "TXT" %}
                <input id="0V{{loop.index0}}" type="text" value="{{section[1]}}" class="editText">
            {% endif %}
        </div>
    {% endfor %}
    
</div>

<div class="addNew" onclick="newChapter()">
    CH
</div>

<div class="addNew" onclick="newText()">
    TXT
</div>

<script>
    
    var section = {{content|length}} - 1;
    
    function newChapter()
    {
        section = section + 1;
        const content = document.getElementById("content");
        
        var div = document.createElement("DIV");
        id = "S" + section.toString();
        div.setAttribute("id", id);
        div.setAttribute("class", "CH");
        
        var input = document.createElement("INPUT");
        input.setAttribute("type", "text");
        input.setAttribute("class", "editChapter");
        input.setAttribute("id", "0V" + section.toString())
        div.appendChild(input)
        
        content.appendChild(div);
    }
    
    function newText()
    {
        section = section + 1;
        
        const content = document.getElementById("content");
        var div = document.createElement("DIV");
        id = "S" + section.toString();
        div.setAttribute("id", id);
        div.setAttribute("class", "TXT");
        
        var input = document.createElement("INPUT");
        input.setAttribute("type", "text");
        input.setAttribute("class", "editText");
        input.setAttribute("id", "0V" + section.toString())
        div.appendChild(input)
        
        content.appendChild(div);
    }
    
    function update()
    {
        var name = "{{name}}";
        var s = "";
        var Snum = 0;
        
        var id = "S" + Snum.toString();
        var elem = document.getElementById(id);
        
        while (elem != null)
        {
            s = s + "|" + elem.className;
            v = 0;
            info = document.getElementById(v.toString() + "V" + Snum.toString());
            while (info != null)
            {
                s = s + "," + info.value;
                v = v + 1;
                info = document.getElementById(v.toString() + "V" + Snum.toString());
            }
            
            Snum = Snum + 1;
            id = "S" + Snum.toString();
            elem = document.getElementById(id);
        }
        
        console.log(s);
        document.getElementById("contents").value = s;
        document.getElementById("info").submit();
    }
    
</script>

{% endblock %}

