{% extends "editLayout.html" %}

{% block header %}
<a href="/create" style="position:relative; right:30%;" class="addNew">
    back
</a>

{{name}}
<div class="addNew" style="position:relative; left:10%;" onclick="update()">
    Update
</div>
<a href="/view/{{id}}" style="position:relative; left:10%;" class="addNew" onclick="update()">
    View
</a>
{% endblock %}

{% block content%}
<form id="info" method="post">
    <input type="hidden" id="chapters" name="chapters" value="">
    <input type="hidden" id="contents" name="contents" value="">
</form>


<div id="content">
    <h1>{{name}}</h1>
    
    {% for section in content %}
        <section id="S{{loop.index0}}" class="{{section[0]}}">
            <div style="margin:1%;" onmouseenter="buttons(this);" onmouseleave="setTimeout(removeButtons, 250, this);">
                <div class="addNew">
                    Add
                </div>
            </div>
            {% if section[0] == "CH" %}
                <input id="0V{{loop.index0}}" type="text" value="{{section[1]}}" class="editChapter">
            {% elif section[0] == "TXT" %}
                <input id="0V{{loop.index0}}" type="text" value="{{section[1]}}" class="editText">
            {% elif section[0] == "DEF" %}
                <input id="0V{{loop.index0}}" type="text" value="{{section[1]}}" class="editDef"> <span class="editDef">: </span>
                <input id="1V{{loop.index0}}" type="text" value="{{section[2]}}" class="editText">
            {% endif %}
        </section>
    {% endfor %}
    
</div>

<div class="addNew" onclick="insertSection(this,newChapter())">
    CH
</div>

<div class="addNew" onclick="insertSection(this,newText())">
    TXT
</div>

<div class="addNew" onclick="insertSection(this,newDefinition())">
    DEF
</div>
{% endblock %}

