{% extends "layout.html" %}

{% block content%}

<h1>
    Welcome to Textbook but a website!
</h1>
<img width="50%;" src="https://pbs.twimg.com/profile_images/1244875454340685824/lXl-XXg1_400x400.jpg">
<p style="margin:3%;">I've always thought textbooks were a bit rubbish. Don't get me wrong, I love a good textbook. But sometimes it seems like the creators don't have the same interests as I do. They litter the pages with... hockey references??? and include strange impractical sections on how to run physics experiments they know I don't have time for. I wanted to make my own textbook and fix education for good but I knew I had no chance of getting it printed to I thought to just leave it digital. That was when I realized that no longer had to be a textbook. A pdf has many limitations. No videos, no interaction... No. My textbook wouldn't be some pdf, it would be a website!</p>
{% endblock %}