{% extends "editLayout.html" %}

{% block tableOfContents%}

    {% for chapter in chapters %}
        <div class="toc">
            - {{chapter[0]}}
        </div>
    {% endfor %}

{% endblock %}

{% block content%}

<a href="/create/edit/{{id}}" class="addNew">
    edit
</a>

<div id="content">
    
    {% for section in content %}
        {% if section[0] == "CH" %}
            <section class="editChapter">
                {{section[1]}}
            </section>

        {% elif section[0] == "TXT" %}
            <section class="Text">
                {{section[1]}}
            </section>
        {% elif section[0] == "DEF" %}
            <section class="Text">
                <span class="def">{{section[1]}}: </span>{{section[2]}}
            </section>
        {% else %}
            {{section[0]}}
        {% endif %}
    {% endfor %}
</div>

{% endblock %}

